/* CSS Document */
@charset "utf-8";
/* +++++++++++++++++++++++++++++++基础 */
* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 12px;
	font-family: 'Microsoft Yahei';
	color: #333;
	background: #848484;
}
a, img {
	border: 0;
}
a, a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
.clearfix {
	clear: both;
}
.hidden {
	display: none;
}
.bg {
	width: 1280px;
	height: auto;
	margin: 0 auto;
	background: #fff;
}
/* +++++++++++++++++++++++++++++++首页 */
/* 首页焦点图 */
.index_focus {
	position: relative;
	width: 100%;
	height: 600px;
	float: left;
	overflow: hidden;
}
.index_focus .bd {
	width: 1280px;
	height: 600px;
	margin: 0 auto;
}
.index_focus .bd li {
	display: none;
}
.index_focus .bdw li {
	display: block;
}
.index_focus_post {
	z-index: 2;
}
.index_focus .pic {
	height: auto;
	display: block;
}
.index_focus .pic:hover {
	text-decoration: none;
}
.index_focus .slide_nav {
	position: absolute;
	left: 45%;
	bottom: 2%;
}
.index_focus .slide_nav a {
	cursor: pointer;
	float: left;
	font-size: 28px;
	font-family: arial;
	color: #fff;
	padding: 5px 10px;
}
.index_focus .slide_nav li:hover, .index_focus .slide_nav .on {
	text-decoration: none;
	color: #ff751c;
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.index_focus_pre, .index_focus_next {
	display: none;
	position: absolute;
	top: 50%;
	margin-top: -36px;
	width: 72px;
	height: 72px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	z-index: 2;
	background: url("/imhaowa/images/ico_sliding.png")/*tpa=http://www.imhaowa.com/images/ico_sliding.png*/ no-repeat;
}
.index_focus_pre {
	left: 20px;
	background-position: 0 0;
}
.index_focus_pre:hover {
	background-position: 0 -144px;
}
.index_focus_next {
	right: 20px;
	background-position: 0 -72px;
}
.index_focus_next:hover {
	background-position: 0 -216px;
}
.index_focus_info {
	position: absolute;
	left: 10%;
	bottom: 20%;
	width: 800px;
	height: 200px;
	padding-bottom: 10px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	font-family: "\5fae\8f6f\96c5\9ed1";
	-moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.index_focus_info h3 {
	font-size: 36px;
	line-height: 70px;
	font-family: \5fae\8f6f\96c5\9ed1, \u9ed1\u4f53, "Lucida Grande";
	display: none;
}
.index_focus_info .text {
	width: 500px;
	line-height: 24px;
	font-size: 14px;
	overflow: hidden;
	display: none;
}
.index_focus_info img {
	margin-left: 60px;
}
.index_focus_infow h3 {
	display: block;
}
.index_focus_infow .text {
	display: block;
}
/* 焦点图上的文字样式 */
.index_focus .pic1 h3 {
	width: 410px;
	font-size: 34px;
	font-weight: normal;
	color: #333;
	line-height: 50px;
}
.index_focus .pic1 .text {
	width: 410px;
	color: #828282;
	margin-top: 10px;
	margin-left: 30px;
}
.index_focus .pic2 h3 {
	width: 410px;
	font-size: 34px;
	font-weight: normal;
	line-height: 50px;
}
.index_focus .pic2 .text {
	width: 320px;
	height: 158px;
	margin-top: 10px;
	margin-left: 30px;
	background: url("/imhaowa/images/bg_banner.png") no-repeat;
	padding:10px;
}

/* 焦点图上的内容 */
.index_focus .header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 140px;
	z-index: 3;
}
.header .content {
	width: 1002px;
	height: 140px;
	margin: 0 auto;
}
.header .top {
	width: 100%;
	height: 26px;
}
.header .top .share {
	width: 130px;
	height: 26px;
	float: right;
}
.header .logo {
	width: 100%;
	height: 56px;
	font-size: 20px;
}
.header .logo .fleft {
	margin-left: 15px;
}
.header .logo .fright {
	margin-right: 15px;
}
.header .nav {
	width: 100%;
	height: 30px;
	margin-top: 20px;
}
.header .nav ul li {
	width: 167px;
	height: 30px;
	float: left;
}
.header .nav ul li a {
	display: block;
	width: 147px;
	height: 30px;
	font-size: 16px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	background: url("/imhaowa/images/bg_nav.png")/*tpa=http://www.imhaowa.com/images/bg_nav.png*/ no-repeat;
	margin: 0 auto;
	transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}
.header .nav ul li a.curr {
	background: #ff751c;
}
.header .nav ul li a:hover {
	background: #ff751c;
}
.app_sao {
	position: absolute;
	bottom: 12%;
	right: 10%;
	z-index: 3;
}
/* 主要内容 */
.main_box {
	width: 100%;
	height: auto;
	float: left;
	padding-bottom: 30px;
	background: #fff;
}
.main_box .content {
	width: 1005px;
	height: auto;
	margin: 0 auto;
}
.main_box .adver {
	width: 100%;
	height: 167px;
	margin-top: 20px;
}
.main_box .adver ul li {
	width: 335px;
	height: 167px;
	float: left;
}
.main_box .adver ul li a {
	display: block;
	width: 326px;
	height: 167px;
	margin: 0 auto;
}
.main_box .instro {
	width: 100%;
	height: 100px;
	margin-top: 26px;
}
.main_box .instro h1 {
	width: 100%;
	height: 54px;
	font-size: 32px;
	font-weight: 500;
	line-height: 54px;
	text-align: center;
	overflow: hidden;
}
.main_box .instro p {
	width: 100%;
	height: 46px;
	font-size: 26px;
	font-weight: 500;
	color: #828282;
	line-height: 46px;
	text-align: center;
	overflow: hidden;
}
.main_box .case {
	width: 100%;
	height: 281px;
	margin-top: 26px;
	margin-left: 1px;
}
.main_box .case ul li {
	width: 251px;
	height: 281px;
	float: left;
}
.main_box .case ul li a {
	display: block;
	width: 223px;
	height: 281px;
	margin: 0 auto;
	position: relative;
}
.main_box .case .text {
	width: 223px;
	height: 94px;
	margin: 0 auto;
	color: #fff;
	position: absolute;
	top: 187px;
	left: 0;
	background: url("/imhaowa/images/bg_case.png")/*tpa=http://www.imhaowa.com/images/bg_case.png*/ no-repeat;
	z-index: 3;
}
.main_box .case .text .name {
	width: 192px;
	margin-top: 8px;
	margin-left: 18px;
	font-size: 22px;
	overflow: hidden;
}
.main_box .case .text .msg {
	width: 192px;
	margin-top: 8px;
	margin-left: 18px;
	font-size: 16px;
	overflow: hidden;
}
.main_box .chara {
	width: 100%;
	height: 144px;
	margin-top: 50px;
	border-top: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
}
.main_box .chara ul li {
	width: 334px;
	height: 88px;
	float: left;
	margin-top: 28px;
	border-right: 1px solid #d5d5d5;
}
.main_box .chara ul li:last-child {
	width: 335px;
	border: none;
}
.main_box .chara ul li .fleft {
	margin-top: 15px;
	margin-left: 40px;
}
.main_box .chara ul li .fright {
	margin-right: 40px;
}
.main_box .chara ul li .name {
	width: 166px;
	height: 30px;
	line-height: 30px;
	font-size: 23px;
}
.main_box .chara ul li .msg {
	width: 166px;
	height: 48px;
	line-height: 24px;
	font-size: 20px;
	color: #828282;
	margin-top: 10px;
}
.main_box .friend {
	width: 100%;
	height: 54px;
	margin-top: 50px;
}
.main_box .friend ul li {
	width: 201px;
	height: 54px;
	float: left;
}
.main_box .friend ul li a {
	display: block;
	width: 150px;
	height: 54px;
	margin: 0 auto;
}
/* +++++++++++++++++++++++++++++++关于我们+人才服务+企业服务 */
.main_box .tab_con {
	width: 100%;
	height: auto;
	float: left;
	margin-top: 20px;
}
.tab_con .tab_t {
	width: 980px;
	height: 60px;
	margin: 0 auto;
}
.tab_con h3 {
	width: 182px;
	height: 60px;
	float: left;
	line-height: 60px;
	text-align: center;
	margin-left: 20px;
	font-size: 16px;
	color: #ff751c;
	cursor: pointer;
	border-top: 1px solid #3790ff;
	border-left: 1px solid #3790ff;
	border-right: 1px solid #3790ff;
}
.tab_con .active {
	border-top: 1px solid #ff751c;
	border-left: 1px solid #ff751c;
	border-right: 1px solid #ff751c;
	background: #fff;
	z-index: 5;
}
.tab_con hr {
	width: 100%;
	height: 1px;
	float: left;
	border: none;
	background: #ff751c;
	margin-top: -2px;
	z-index: 4;
}
.tab_con .tab_b {
	width: 100%;
	height: auto;
	float: left;
}
.tab_con .tab_c {
	display: none;
	width: 980px;
	height: auto;
	margin: 0 auto;
	font-size: 14px;
	padding: 20px 0px 0px 40px;
	clear: both;
}
.tab_con .style1 p {
	width: 100%;
	height: auto;
	line-height: 24px;
	font-size: 16px;
	margin-top: 20px;
	text-indent: 2em;
}
.tab_con .style2 h2 {
	width: 100%;
	height: auto;
	font-size: 20px;
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 5px;
}
.tab_con .style2 p {
	width: 100%;
	height: auto;
	line-height: 26px;
	font-size: 16px;
}
.tab_con .style3 .title1 {
	width: 100%;
	height: auto;
	line-height: 26px;
	font-size: 16px;
}
.tab_con .style3 .title2 {
	width: 100%;
	height: auto;
	line-height: 30px;
	font-size: 20px;
	margin-top: 22px;
}
.tab_con .style3 p {
	width: 100%;
	height: auto;
	line-height: 26px;
	font-size: 16px;
	color: #828282;
	margin-top: 20px;
	margin-left: 24px;
}
/* +++++++++++++++++++++++++++++++就业服务 */
.main_box .towork {
	width: 100%;
	height: auto;
	margin-top: 20px;
	padding-bottom: 20px;
}
.main_box .towork h3 {
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 22px;
	color: #ff751c;
	overflow: hidden;
	margin-top: 10px;
}
.main_box .towork p {
	width: 100%;
	line-height: 32px;
	font-size: 16px;
	text-indent: 2em;
}
.main_box .towork .work1 {
	width: 954px;
	height: 200px;
	margin-top: 10px;
	background: url("/imhaowa/images/img_work1.jpg")/*tpa=http://www.imhaowa.com/images/img_work1.jpg*/ #fff no-repeat;
}
.main_box .towork .work1 .step {
	height: 84px;
	float: left;
	margin-top: 106px;
	line-height: 84px;
	text-align: center;
	font-size: 22px;
	color: #3690ff;
	overflow: hidden;
}
.main_box .towork .work1 .step1 {
	width: 210px;
	color: #ff751c;
}
.main_box .towork .work1 .step2 {
	width: 200px;
}
.main_box .towork .work1 .step3 {
	width: 281px;
}
.main_box .towork .work1 .step4 {
	width: 240px;
}
.main_box .towork .work2 {
	width: 954px;
	height: 220px;
	margin-top: 10px;
	background: url("/imhaowa/images/img_work2.jpg")/*tpa=http://www.imhaowa.com/images/img_work2.jpg*/ #fff no-repeat;
}
.main_box .towork .work2 .step {
	height: 80px;
	float: left;
	margin-top: 128px;
	line-height: 36px;
	text-align: center;
	font-size: 22px;
	color: #3690ff;
	overflow: hidden;
}
.main_box .towork .work2 .step1 {
	width: 150px;
	margin-left: 50px;
	color: #ff751c;
}
.main_box .towork .work2 .step2 {
	width: 150px;
	margin-left: 40px;
}
.main_box .towork .work2 .step3 {
	width: 150px;
	margin-left: 90px;
}
.main_box .towork .work2 .step4 {
	width: 150px;
	margin-left: 100px;
}
/* +++++++++++++++++++++++++++++++APP */
.main_box .app_con1 {
	width:100%;
	height:185px;
	float:left;
	background:#ff751c;
	/*background:#e7e7e7;*/
}
.main_box .app_con1 .con {
	width: 900px;
	height: 185px;
	margin: 0 auto;
}
.main_box .app_con1 ul li {
	width: 300px;
	height: 139px;
	float: left;
	margin-top: 23px;
}
.main_box .app_con1 .down1 {
	width: 200px;
	height: 139px;
	margin: 0 auto;
}
.main_box .app_con1 .down2 {
	width: 140px;
	height: 139px;
	margin: 0 auto;
	text-align: center;
}
.main_box .app_con1 h2 {
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}
.main_box .app_con1 .btn_app {
	width: 177px;
	height: 53px;
	font-size: 18px;
	line-height: 50px;
	color: #fff;
	margin-top: 20px;c65900
}
.main_box .app_con1 .btn_app {
	width: 177px;
	height: 53px;
	font-size: 18px;
	line-height: 50px;
	color: #fff;
	margin-top: 20px;
}
.main_box .app_con1 .msg {
	width: 100%;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	color: #c65900;
	margin-top: 10px;
	overflow: hidden;
}
.main_box .app_con2, .main_box .app_con4 {
	width:100%;
	height:376px;
	float:left;
	background:#fff;
}
.main_box .app_con3, .main_box .app_con5 {
	width:100%;
	height:376px;
	float:left;
	background:#e7e7e7;
}
.main_box .app_con2 .con_instro, .main_box .app_con3 .con_instro, .main_box .app_con4 .con_instro, .main_box .app_con5 .con_instro {
	width: 900px;
	height: 376px;
	margin: 0 auto;
}
/* app介绍 */
.main_box .app_text h2 {
	font-size: 24px;
	font-weight: normal;
	color: #c5904f;
}
.main_box .app_text p {
	font-size: 16px;
	color: #888;
	margin-top: 10px;
}

.main_box .app_con2 .fleft {
	margin-top: 49px;
	margin-left: 180px;
}
.main_box .app_con2 .fright {
	margin-top: 150px;
	margin-right: 40px;
}
.main_box .app_con3 .fleft {
	margin-top: 150px;
	margin-left: 20px;
}
.main_box .app_con3 .fright {
	margin-top: 50px;
}
.main_box .app_con4 .fleft {
	margin-top: 31px;
	margin-left: 80px;
}
.main_box .app_con4 .fright {
	margin-top: 150px;
	margin-right: 40px;
}
.main_box .app_con5 .fleft {
	margin-top: 150px;
	margin-left: 80px;
}
.main_box .app_con5 .fright {
	margin-top: 44px;
	margin-right: 40px;
}

/* +++++++++++++++++++++++++++++++底部 */
.footer {
	width: 100%;
	height: 122px;
	float: left;
	background: #e1e1e1;
}
.footer .content {
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	color: #828282;
}
.footer .content a {
	display: inline-block;
	margin-top: 30px;
	padding: 0 5px;
	color: #828282;
}
.footer .content a:hover {
	color: #ff751c;
}
.footer .content p {
	font-size: 10px;
	margin-top: 10px;
	overflow: hidden;
}
